<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Inicio</title>
</head>
<body>
	<h1>Página inicio</h1>
	<p>Hola, soy <strong>Adrián Rodríguez Povea</strong></p>

	<h2>Páginas disponibles:</h2>
	<p>Calcular potencia, para ello debe introducir en la url /potencia/base/exponente como se indica el siguiente ejemplo:
	<a href="/potencia/3/4">/potencia/3/4</a><br></p>


	
	<a href="/cuenta/palabra/letra/">Cuenta Las Letras de la palabra</a>
	<a href="/libro/codigo">Libros</a>
</body>
</html>